*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: url('./school-image/background-image-2.jpg') no-repeat #9f78fae0;
    background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-blend-mode: multiply;
}
header{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: background-color 0.3s ease;
}
header.scrolled{
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px #00000063;
}
header .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
header .header-logo a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Alata', sans-serif;
}
.header-logo a.scrolled{
    color:#000000;
}
header .header-logo a img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    filter: brightness(0.6);
    display: flex;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
header nav ul li{
    list-style: none;
    margin-left: 20px;
}
header nav ul li:nth-child(1){
    margin-left: 0;
}
header nav ul li a{
    color: #bfdf0a;
    text-decoration: none;
    font: 400 1.2rem 'Roboto',sans-serif;
    transition: 0.2s ease-in;
}
nav a.scrolled{
    color: #000000;
}
header nav ul li a:hover, header nav ul li a.active{
    background-color: #e2e6e6;
    color: #000000;
    padding: 5px 8px;
    border-radius: 6px;
}
header .hamburger-container{
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

header .hamburger-container .hamburgers{
    width: 50px;
    height: 2px;
    background: #ffffff;
    margin-top: 10px;
    transition: 1s ease;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
header .hamburger-container .hamburgers.scrolled{
    background: #000000;
}
header .hamburger-container .hamburgers:nth-child(1){
    margin-top: 0;
}
header .hamburger-container .hamburgers:nth-child(1).active{
    transform: translateY(16px) rotate(-40deg);
}
header .hamburger-container .hamburgers:nth-child(2).active{
    opacity: 0;
}
header .hamburger-container .hamburgers:nth-child(3).active{
    transform: translateY(-8px) rotate(40deg);
}
/* -------HEADER-DROPDOWN---------- */
header nav ul .dropdown{
    position: relative;
}
header nav ul li .dropdown-menu{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 23px;
    width: 200px;
    background: #e2e6e6;
    display: none;
}
header nav ul li ul{
    display: inline-block;
}
header nav ul .dropdown:focus-within > .dropdown-menu, header nav ul .dropdown:hover > .dropdown-menu{
    display: initial;
}
header nav ul li ul li{
    width: 100%;
    border-top: 1px solid #00000033;
    padding: 10px 0 10px 10px;
    margin: 0;
    text-transform: uppercase;
}
header nav ul li ul li a{
    font: 400 16px 'roboto',sans-serif;
    color: #000000;
}
/* ---------------HERO SECTION------------- */
.hero-section{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section .hero-text h2{
    color: #ffffff;
    letter-spacing: 5px;
    font: 600 80px 'Alata',sans-serif;
}
/* --------------BRIFE----------------- */

.brife{
    width: 100%;
    background: linear-gradient(to bottom ,#3d4286, #0000ffab, #3d4286);
    padding: 30px 0 0;
}
.brife-container{
    width: 100%;
    padding: 20px;
}
.brife-list{
    width: 100%;
}
.brife-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.brife-item .left-side{
    width: 50%;
}
.brife-item .right-side{
    width: 50%;
}
.brife-item h2{
    font: 600 80px 'Alata',sans-serif;
    color: #00c500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.brife-container p{
    font: 400 20px 'roboto',sans-serif;
    line-height: 1.6;
    margin-top: 10px;
    color: white;
}
/* -----------BANNER------------ */

.banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    background: #3b3bbd;
    padding: 40px;
}
.banner div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.banner div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.banner div .banner-name{
    font: 800 2rem 'Alata',sans-serif;
    color: #ffffff;
}
.banner div span{
    color: #ffffff;
    font: 600 28px "alata";
}
.banner marquee{
    color: #ffffff;
    font: 600 18px sans-serif;
    margin-top: 20px;
    width: 80%;
}
/* ---------------FOOTER-------------- */

footer{
    background: #2d2d6e;
    color: #ffffff;
}
.footer-container{
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 10px;
}
.footer-container .footer-about{
    width: 25%;
}
.footer-container .about-note{
    width: 100%;
}
.footer-title{
    margin: 0 0 30px;
}
.footer-title h3{
    font: 600 25px 'Alata',sans-serif;
    position: relative;
    color: #00eeff;
}
.footer-title h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    background: #00eeff;
    display: block;
    width: 30%;
    height: 3px;
    border-radius: 10px;
}
.footer-container .about-note p{
    font: 400 16px 'roboto',sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    line-break: anywhere;
}
.footer-about .number p{
    font: 500 18px 'roboto',sans-serif;
}
.footer-about .number{
    margin-top: 20px;
}
.footer-about .number ul li{
    list-style: none;
    margin-top: 10px;
}
.footer-about .number ul li a{
    text-decoration: none;
    color: #00eeff;
    font: 500 16px 'roboto',sans-serif;
    font-style: oblique;
}

/* ----------QUICK-LINK--------- */
.footer-title-two{
    margin: 0 0 30px;
}
.footer-title-two h3{
    font: 600 25px 'Alata',sans-serif;
    position: relative;
    color: #00eeff;
}
    .footer-title-two h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    background: #00eeff;
    display: block;
    width: 70%;
    height: 3px;
    border-radius: 10px;
}
.quick-link-container ul li{
    list-style: none;
    margin-top: 20px;
}
.quick-link-container ul li a{
    color: #00eeff;
    font: 400 18px 'roboto',sans-serif;
    text-decoration: underline;
    font-style: oblique;
}
/* -----------------QUICK CONTACT------------ */

.footer-title-three{
    margin: 0 0 30px;
}
.footer-title-three h3{
    font: 600 25px 'Alata',sans-serif;
    position: relative;
    color: #00eeff;
}
.footer-title-three h3::before{
    content: '';
    position: absolute;
    bottom: -5px;
    background: #00eeff;
    display: block;
    width: 40%;
    height: 3px;
    border-radius: 10px;
}
.quick-contact-container ul li{
    list-style: none;
    margin-top: 20px;
}
.quick-contact-container ul li a{
    color: #00eeff;
    font: 400 18px 'roboto',sans-serif;
    text-decoration: underline;
    font-style: oblique;
}
.quick-contact-container p{
    margin-top: 10px;
    font: 400 18px 'roboto',sans-serif;
}
.quick-contact-container p:last-child{
    margin-top: 20px;
}

/* --------------COPYRIGHT----------- */

.copyright{
    background: #3a0f6e;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright-container span{
    color: #00eeff;
    font: 600 16px 'Alata',sans-serif;
}
.dolsy-tech{
    color: #ff0000;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hero-text h2{
        font-size: 40px;
        padding: 0 10px;
        letter-spacing: 2px;
    }
    .brife-item{
        flex-direction: column;
        width: 100%;
    }
    .brife-item .left-side{
        width: 100%;
    }
    .brife-item .right-side{
        width: 100%;
    }
    .brife-item h2 {
        font-size: 60px;
    }
    .footer-container .footer-about{
        width: 100%;
    }
    .footer-about .number{
        display: none;
    }
    .footer-container .quick-link{
        width: 60%;
        margin-left: 80px;
    }
}
@media screen and (max-width: 767px) {
    .hero-section .hero-text h2 {
        font-size: 30px;
        padding: 0 10px;
        letter-spacing: 2px;
    }
    .brife-item{
        flex-direction: column;
        width: 100%;
    }
    .brife-item .left-side{
        width: 100%;
    }
    .brife-item .right-side{
        width: 100%;
    }
    .brife-item h2 {
        font-size: 40px;
    }
    .footer-container .footer-about{
        width: 95%;
    }
    .footer-container .about-note p{
        line-break: auto;
    }
    .footer-about .number{
        display: block;
    }
    .footer-container .quick-link{
        margin-top: 50px;
    }
    .footer-title-two h3::before{
        width: 35%;
    }
    .footer-container .quick-link .quick-link-container{
        width: 100%;
    }
    .footer-container .quick-contact{
        width: 100%;
        margin-top: 50px;
    }
}